p{
    color: aqua;
    background-color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: dashed;
    font-variant: normal;
}